@import '../../css/vars';

:host {
    & > .tag-item {
        height: $itemHeight * 0.75;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        user-select: none;

        & > .item-inner {
            flex: 0 0 auto;
            height: 100%;
            padding: 5px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            background: #e5e5e5;
            border-radius: 4px;
            height: 24px;
            transition: background 0.15s ease-in-out;

            &:hover {
                background: darken(#e5e5e5, 5%);
            }

            & > .item-value {
                flex: 0 0 auto;
                height: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-right: 10px;

                & > span {
                    display: inline-block;
                    max-width: 160px;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: pre;
                }
            }

            & > .item-remove {
                flex: 0 0 auto;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                transition: color 0.15s ease-in-out;

                &:hover {
                    color: $swBrightRed;
                }
            }
        }
    }
}
